<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- FIND A FAVICON -->
    <!-- slogan = find your new best friend -->
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!-- normalize css -->
    <link rel="stylesheet" href="./normalize.css" />
    <!-- main css -->
    <link rel="stylesheet" href="./styles.css" />
    <title>Pet Adoption Platform || Home</title>
</head>
    <body>
        <header>Admin Page</header>
        <section class="tasks-container">
        <div class="pets">
            <% if (!allPets || allPets.length === 0) { %>
                <h5 class="empty-list">No Pets Available</h5>
            <% } else { %>
                <div class="pets">
                    <% allPets.forEach(function(pet) { %>
                        <div class="single-pet">
                            <h5><%= pet.id %></h5>
                            <h5><%= pet.name %></h5>
                            <h5><%= pet.breed %></h5>
                            <h5><%= pet.gender %></h5>
                            <h5><%= pet.age %></h5>
                            <h5><%= pet.description %></h5>
                            <h5><%= pet.behavior %></h5>
                            <h5><%= pet.history %></h5>
                            <form action="/pets/<%= pet.id %>/delete" method="POST">
                                <div class="pet-links">
                                    <button type="submit" class="delete-btn">
                                    <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    <% }); %>
                </div>
            <% } %>
        </div>
        </section>
        <!-- axios -->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        ></script>
        <!-- <script src="./admin.js"></script> -->
    </body>
</html>
