<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Pet Adoption Platform || Home</title>
</head>
<body>
    <a href="/">Return Home</a>
    <header>Successfully surrendered your Pet</header>
    <h2>Name: <%= newPet.name %></h2>
    <h3>Breed: <%= newPet.breed %></h3>
    <p>Age: <%= newPet.age %></p>
    <p>Gender: <%= newPet.gender %></p>
    <p>Description: <%= newPet.description %></p>
    <p>Behavior: <%= newPet.behavior %></p>
    <p>History: <%= newPet.history %></p>
    <p>Owner's Contact:<a href="mailto:"><%= newPet.email %></a></p>
    <% if(newPet.imageURL) { %>
        <img src="<%= newPet.imageURL %>" alt="Pet Image" width="100">
    <% } %>
</body>
</html>