<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Pet Adoption Platform || Success</title>
</head>
<body class="petProfileBody">
    <a href="/" class="home-link">
        <i class="fas fa-arrow-left"></i>
        Return Home
    </a>
    
    <header class="successHeader">Successfully Surrendered Your Pet</header>
    
    <div class="pet-info">
        <% if(newPet.imageURL) { %>
            <div class="pet-image-container">
                <img src="<%= newPet.imageURL %>" alt="Pet Image" class="pet-image">
            </div>
        <% } %>
        <h2 class="pet-name"><%= newPet.name %></h2>
        <h3 class="pet-breed"><%= newPet.breed %></h3>
        
        <div class="pet-details">
            <div class="detail-item">
                <div class="detail-label">Age</div>
                <div><%= newPet.age %></div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Gender</div>
                <div><%= newPet.gender %></div>
            </div>
            <div class="detail-item">
                <div class="detail-label">Location</div>
                <div><%= newPet.city %>, <%= newPet.state %></div>
            </div>
        </div>
    </div>

    <div class="pet-description">
        <div class="detail-label">About</div>
        <p><%= newPet.description %></p>
        
        <div class="detail-label">Behavior</div>
        <p><%= newPet.behavior %></p>
        
        <div class="detail-label">History</div>
        <p><%= newPet.history %></p>
    </div>
</body>
</html>